.brandImg{
  width: auto;
  height: 46px;
  display: inline-block !important;
  padding: 0;
  margin: -13px 1em 0 0;
}
.navbar-dna{
  background-color: #292929;
}
.navbar-dna .navbar-brand,.navbar-dna .navbar-brand:hover{
  color: #fff;
}
