.baseline{
  display: inline-block;
  line-height: 1em;
}
.baseBubble{
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 1.5em;
  height:1.5em;
  line-height: 1.5em;
}
.baseBubble .innerText{
  color: #000;
}
.baseLabel{}
.fontStyleCols .row{
  margin-top: 1em;
}
.boobleColorsOption{
  -webkit-appearance: none;
}
.colorPreview{
  height: 1.8em;
  border-radius: .5em;
}
.palettePreview .row{
  display : flex;
  align-items : center;
  margin-top: 1em;
}
