.baseline{
  display: inline-block;
  line-height: 1em;
}
.baseBubble{
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 1.5em;
  height:1.5em;
  line-height: 1.5em;
}
.baseBubble .innerText{
  color: inherit;
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
.baseLabel{}
.fontStyleCols .row{
  margin-top: 1em;
}
.boobleColorsOption{
  -webkit-appearance: none;
}
.colorPreview{
  display: inline-block;
  width: 3em;
  height: 2em;
}
